Hd.Portal/Web References/CommentService/CommentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://targetprocess.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://targetprocess.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://targetprocess.com">
      <s:element name="RetrieveAllForGeneral">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="generalID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveAllForGeneralResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveAllForGeneralResult" type="tns:ArrayOfCommentDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCommentDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CommentDTO" nillable="true" type="tns:CommentDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CommentDTO">
        <s:complexContent mixed="false">
          <s:extension base="tns:DataTransferObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CommentID" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CreateDate" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="GeneralID" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="OwnerID" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ParentID" nillable="true" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DataTransferObject" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetrieveAllForOwner">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ownerID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveAllForOwnerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveAllForOwnerResult" type="tns:ArrayOfCommentDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveAllForComment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="parentID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveAllForCommentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveAllForCommentResult" type="tns:ArrayOfCommentDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetByIDResult" type="tns:CommentDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:CommentDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:CommentDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType />
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType />
      </s:element>
      <s:element name="RetrieveAll">
        <s:complexType />
      </s:element>
      <s:element name="RetrieveAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveAllResult" type="tns:ArrayOfCommentDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Retrieve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hql" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveResult" type="tns:ArrayOfCommentDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrievePage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hql" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="page" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrievePageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrievePageResult" type="tns:ArrayOfCommentDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hql" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RetrieveCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RetrieveAllForGeneralSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveAllForGeneral" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllForGeneralSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveAllForGeneralResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllForOwnerSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveAllForOwner" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllForOwnerSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveAllForOwnerResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllForCommentSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveAllForComment" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllForCommentSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveAllForCommentResponse" />
  </wsdl:message>
  <wsdl:message name="GetByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetByID" />
  </wsdl:message>
  <wsdl:message name="GetByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetByIDResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveAll" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveAllResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveSoapIn">
    <wsdl:part name="parameters" element="tns:Retrieve" />
  </wsdl:message>
  <wsdl:message name="RetrieveSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="RetrievePageSoapIn">
    <wsdl:part name="parameters" element="tns:RetrievePage" />
  </wsdl:message>
  <wsdl:message name="RetrievePageSoapOut">
    <wsdl:part name="parameters" element="tns:RetrievePageResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveCountSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveCount" />
  </wsdl:message>
  <wsdl:message name="RetrieveCountSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveCountResponse" />
  </wsdl:message>
  <wsdl:portType name="CommentServiceSoap">
    <wsdl:operation name="RetrieveAllForGeneral">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves Comment entities by specified General</wsdl:documentation>
      <wsdl:input message="tns:RetrieveAllForGeneralSoapIn" />
      <wsdl:output message="tns:RetrieveAllForGeneralSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllForOwner">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves Comment entities by specified GeneralUser</wsdl:documentation>
      <wsdl:input message="tns:RetrieveAllForOwnerSoapIn" />
      <wsdl:output message="tns:RetrieveAllForOwnerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllForComment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves Comment entities by specified Comment</wsdl:documentation>
      <wsdl:input message="tns:RetrieveAllForCommentSoapIn" />
      <wsdl:output message="tns:RetrieveAllForCommentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetByID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves the entity by specified ID</wsdl:documentation>
      <wsdl:input message="tns:GetByIDSoapIn" />
      <wsdl:output message="tns:GetByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Creates the entity from the Data Transfer Object. Returns ID of the added entity</wsdl:documentation>
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Updates the entity</wsdl:documentation>
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Deletes the entity by specified entity ID</wsdl:documentation>
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAll">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves all available entities</wsdl:documentation>
      <wsdl:input message="tns:RetrieveAllSoapIn" />
      <wsdl:output message="tns:RetrieveAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Retrieve">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves all available entities by specified HQL string and provided parameters for it. The information about syntax of HQL is specified in NHibernate documentation</wsdl:documentation>
      <wsdl:input message="tns:RetrieveSoapIn" />
      <wsdl:output message="tns:RetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves all available entities by specified HQL string and provided parameters for specified page and page size. The information about syntax of HQL is specified in NHibernate documentation</wsdl:documentation>
      <wsdl:input message="tns:RetrievePageSoapIn" />
      <wsdl:output message="tns:RetrievePageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveCount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves count by specified HQL string and provided parameters. The information about syntax of HQL is specified in NHibernate documentation</wsdl:documentation>
      <wsdl:input message="tns:RetrieveCountSoapIn" />
      <wsdl:output message="tns:RetrieveCountSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CommentServiceSoap" type="tns:CommentServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveAllForGeneral">
      <soap:operation soapAction="http://targetprocess.com/RetrieveAllForGeneral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllForOwner">
      <soap:operation soapAction="http://targetprocess.com/RetrieveAllForOwner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllForComment">
      <soap:operation soapAction="http://targetprocess.com/RetrieveAllForComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByID">
      <soap:operation soapAction="http://targetprocess.com/GetByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://targetprocess.com/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://targetprocess.com/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://targetprocess.com/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAll">
      <soap:operation soapAction="http://targetprocess.com/RetrieveAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retrieve">
      <soap:operation soapAction="http://targetprocess.com/Retrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrievePage">
      <soap:operation soapAction="http://targetprocess.com/RetrievePage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveCount">
      <soap:operation soapAction="http://targetprocess.com/RetrieveCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CommentServiceSoap12" type="tns:CommentServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveAllForGeneral">
      <soap12:operation soapAction="http://targetprocess.com/RetrieveAllForGeneral" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllForOwner">
      <soap12:operation soapAction="http://targetprocess.com/RetrieveAllForOwner" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllForComment">
      <soap12:operation soapAction="http://targetprocess.com/RetrieveAllForComment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByID">
      <soap12:operation soapAction="http://targetprocess.com/GetByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://targetprocess.com/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://targetprocess.com/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://targetprocess.com/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAll">
      <soap12:operation soapAction="http://targetprocess.com/RetrieveAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retrieve">
      <soap12:operation soapAction="http://targetprocess.com/Retrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrievePage">
      <soap12:operation soapAction="http://targetprocess.com/RetrievePage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveCount">
      <soap12:operation soapAction="http://targetprocess.com/RetrieveCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommentService">
    <wsdl:port name="CommentServiceSoap" binding="tns:CommentServiceSoap">
      <soap:address location="http://localhost/TargetProcess/Services/CommentService.asmx" />
    </wsdl:port>
    <wsdl:port name="CommentServiceSoap12" binding="tns:CommentServiceSoap12">
      <soap12:address location="http://localhost/TargetProcess/Services/CommentService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>